.FichaTecnicaEmissores_label_left {
    display: flex;
    align-items: center;
}

.flex_box_filtros_label {
    display: flex
    ;
        align-items: center;
        gap: 0.5rem;
        left: 30%;
        margin-top: 30%;
        position: relative;
}

.mostrar_text {
    font-size: 1rem;
    color: #333;
}

.form_control_input_sm {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    left: 2%;
}

.form_control_input_sm:focus {
    border-color: #007bff;
    outline: none;
}