
.footer {
  background-color: #f1efee;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
  
  .footer h3 {
    margin: 10px 0;
  }
  
  .footer a {
    color: #464444;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer a:hover {
    color: rgb(168, 166, 163);

  }
  
  .icon {
    margin-right: 8px;
    color: #da632c;
  }
  

