
    
  .popup2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 15px;

  }
  
  .popup_inner2 {
    height: 330px;
    background-color: #fff;
    border-radius: 15px;
    width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .popup_inner2 h2 {
    margin-top: -3%;
    text-align: center;
    background-color: #e27e21;
    color: #fff;
    padding: 10px;
    margin-bottom: 2%;
    width: 100%;
    max-width: 800px;
  }
  
  .popup_inner2 form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 1%;

  }
  
  .popup_inner2 label {
    margin-bottom: 30px;
  }
  
  .popup_inner2 input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    margin-left: 1%;
  }
  
  .popup_inner2 button {
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 20px;
    /* top: 50%; */
    /* margin-bottom: 18px; */
    max-width: 650px;
    /* margin-left: 20%; */
    position: relative;
    background-color: #8d8c8c;
  }

  #salvar2{
    background-color: #e27e21;
  }
  
  .popup_inner2 button:hover {
    background-color: #8d8c8c;
  }
  #salvar2 :hover {
  background-color: #f8a658;
}