/* Estilo para a container dos botões de status */
.statusButtons {
    display: flex;
    margin: 0px 50px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    gap: 15px;
    margin-top: 8.6%;
    float: inline-end;
}



/* Estilo dos botões */
.statusButtons button {
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 600;
    background-color: #636463;
    color: white;
    /* MAX-WIDTH: 1000PX; */
    /* width: 100%; */
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

/* Efeito de hover nos botões */
.statusButtons button:hover {
    background-color: #d6a12e;
    transform: scale(1.05);
}

/* Efeito de click (ativo) nos botões */
.statusButtons button:active {
    background-color:  #d6a12e;
}

/* Estilo do contador entre parênteses */
.statusButtons button span {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    background-color: #d6a12e;
    padding: 2px 6px;
    border-radius: 12px;
    margin-left: 8px;
    position: relative;
    top: -3px;
}

/* Estilo para o filtro ativo */
.statusButtons button.active {
    background-color:  #f5c55d;
}



.container_funcionarios {
    padding: 20px;
}

.actions {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    float: inline-end;
    margin-top: 1%;
}

.actionButton {
    padding: 10px 20px;
    background-color: #202020;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.actionButton:hover {
    background-color: #b8821f;
}


.filterToggle {
    margin-bottom: 10px;
}

.toggleButton {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.toggleButton:hover {
    background-color: #0056b3;
}

.filters {
    display: flex;
    gap: 10px;
    margin-bottom: 2%;
}

.filterItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.selectField{
width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 5.5vh;
}

