.editIconLock{
        align-items: center;
        justify-content:center;
        width: 20px;
        padding: 5px;
        height: 20px;
        background-color: #349813;
        color: aliceblue;
        transition: background-color 0.3s ease;
position: relative;
left: 3%;
}
.flex_button_user{
        margin-top: 2%;
        display: flex;
        gap: 10px;
        align-items: center;
    }
.editIconLock:hover{
        background-color: #2ecc71;
}

.spandoidao{
        height: 4vh;
        
        display: flex;
        align-items: center;
        background-color: rgb(16, 122, 171);
        color: aliceblue;
        border-radius: 5px;
        width: 30%;
        padding: 5px;
        min-width: 30%;
}