*{
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 3%;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 70vh;
    max-height: 500px;
    background-color: rgba(249, 245, 245, 0.2);
    border: 2px solid #dd8a0f;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* margin-left: 12%; */
    /* margin-right: 5%; */
    position: relative;
    left: 8%;
    margin-left: 5%;
}


.container h3{
    text-align: center;
    margin-bottom: 20px;
}

.paragrafo p{
    color: rgb(25, 26, 25);
    text-align: center;
    margin-bottom: 10px;
}


body.dark.titulo_comunicado{
    color: rgb(65, 64, 64);
}

.small {
    left: 13%;
    margin-right: 5%;
   
}

/* Responsividade fazer depois!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media (max-width: 768px) {
    .container {
        padding: 1rem;
        font-size: 0.875rem; /* Ajuste menor para telas pequenas */
    }
}



